[submodule "Capita Selecta in Cyber Security/Assignments/Assignment-2"]
	path = Capita Selecta in Cyber Security/Assignments/Assignment-2
	url = https://github.com/Capita-Selecta-Group-12/Assignment-2
[submodule "FunctionalProgrammingRadboud"]
	path = Functional_Programming
	url = https://github.com/NemuruYama/FunctionalProgrammingRadboud
[submodule "Design of Embedded Systems/Assignments/Assignments-Xenomai"]
	path = Design of Embedded Systems/Assignments/Xenomai
	url = https://github.com/Design-of-Embedded-Systems-Group-17/Assignments-Xenomai
[submodule "Software Product Lines/Assignments/ChatApp"]
	path = Software Product Lines/Assignments/ChatApp
	url = git@github.com:trexwin/ChatApp.git
