[submodule "Capita Selecta in Cyber Security/Assignments/Assignment-2"]
	path = Capita Selecta in Cyber Security/Assignments/Assignment-2
	url = https://github.com/Capita-Selecta-Group-12/Assignment-2
[submodule "FunctionalProgrammingRadboud"]
	path = FunctionalProgrammingRadboud
	url = https://github.com/NemuruYama/FunctionalProgrammingRadboud
